

/*.charCard{
	color: white;
	display: inline-block;
	padding: 20px;
	background-color: black;
	margin:  5px;
}

.deathImage{
	max-width: 6vw;
	max-height: 10vh;
}*/

.wrap{
display: inline-block;
justify-content: center;
}

.tarjeta-wrap{
	
	margin: 10px;
	perspective: 800;
	-webkit-perspective: 800;
}

.deathImage{
	max-width: 6vw;
	max-height: 10vh;
}

.tarjeta{
	width: 300px;
	height: 350px;
	background-color: black;
	position: relative;
	transform-style: preserve-3d;
	border-radius: 10px;
	transition: 1s ease;
	-webkit-box-shadow:  0px 10px 15px -5px rgba(0,0,0,0.65);
	-moz-box-shadow:  0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow:  0px 10px 15px -5px rgba(0,0,0,0.65);
}
/*El webkit se agrega para que funcione en algunos navegadores*/

.frontTextContainer{
	max-height: 18%;
	display: flex;
	justify-content: center;
	align-content: center;
	vertical-align: middle;
}

.frontName{
	color: whitesmoke;
	font-family: 'open sans';
	font-size: 150%;
	margin-top: 5%;
}

.imageCharacter{
	margin-top: 5%;
	width: 90%;
	border: 1px solid green;
	border-image-slice: 1;
	border-width: 5px;
}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.atras{
	transform: rotateY(180deg);
	font-family: 'open sans';
	color:  white;
	justify-content: center;
align-items: center;
text-align: initial;
background: url;
}

.tarjeta-wrap:hover .tarjeta{
transform: rotateY(180deg);
}

.pName, .pOrigin, .pSpecies, .pGender, .pLocation, .pStatus{
	font-size: 150%;
	margin: 5%;
}

.pName{
	text-decoration: underline #B2FF59;
}

.pStatus{
	border: 1px solid;
	border-image-slice: 1;
	display: inline-block;
	border-width: 10%;
	perspective: 1px;
	border-collapse: separate;
	border-radius: 150px;
	padding: 0px 7px;
	/* border-image-source: linear-gradient(to left, #00C853, #B2FF59); */
}